@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');
:root{
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    font-size: 15px;
}
body{
    width: 100%;
    height: 100vh;
    background: url("images/bg-desktop.svg") no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--violet);
    padding: 2rem 4rem;
}
.logo{
    cursor: pointer;
    max-width: 200px;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    

}
.logo img{
    display: block;
    max-width: 200px;
    width: 100%;
}

.grid{
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 2rem;
    
}
.left img{
    display: block;
    max-width: 800px;
    width: 100%;
    transition: transform 1s;
    animation: ease-in 2s;
}
.left img:hover{
    transform: translateY(-10px);
}
.right{
    padding-top: 4rem;
}
.right h1{
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-bottom: 1rem;
}
.right p{
    font-size: 1.1rem;
    font-family: 'Open Sans', sans-serif;
    max-width: 550px;
    color: rgba(255, 255, 255, 0.949);
    font-weight: 400;
    margin-bottom: 1.5rem;
}
.right button{
    cursor: pointer;
    outline: none;
    padding: .7rem 4rem;
    border-radius: 2rem;
    border: 1px solid white;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--violet);
    box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.218);
    transition: hover 1s;
}
.right button:hover{
    background-color: var(--soft-magenta);
    color: white;
    border: 1px solid var(--soft-magenta);
    box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.361);
}
.icon-box{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top:  10rem;
}

.icon-box li a {
    text-decoration: none;
    padding: .5rem;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    justify-items: center;
    align-items: center;
    color: white;

}
.icon-box li a:hover{
    border: 1px solid var(--soft-magenta);
    color: var(--soft-magenta);
}
.icon-box li a i{
    width: 15px;
    
    
} 
@media (max-width: 1150px) {
    .right{
        padding-top: 2rem;
    }
    .right h1{
        font-size: 1.5rem;
    }
    .right p{
        font-size: 1rem;
        margin-bottom: .9rem;
    }
    .right button{
        font-size: 1rem;
        padding: .5rem 2rem;
    }
}
@media (max-width: 900px) {
    .right p{
        font-size: .8rem;
        margin-bottom: .5rem;
    }
    .right button{
        font-size: .9rem;
        padding: .5rem 2rem;
    }
}
@media (max-width: 730px) {
    body{
        width: 100%;
        background: url("images/bg-mobile.svg") no-repeat;
        background-position: top;
        background-size: contain ;
        background-color: var(--violet);
        padding: 2rem 2rem;
    }
    .grid{
        grid-template-columns: 1fr;
    }
    .right{
        text-align: center;
    }
    .right p{
        margin: 1.5rem auto;
        font-size: 1rem;
    }
    .right button{
        padding: .7rem 4rem;
        margin-bottom: 2rem;
    }
    .icon-box{
        justify-content: center;
        margin-bottom: 2rem;
        margin-top: 3rem;
    }
}

@media (max-width: 375px) {
    .logo img{
        max-width: 130px;
    }
}